.card-description-container {
  display: flex;
}
.video-item-card {
  width: 220px;
  height: 250px;
  padding: 5px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.video-image {
  height: 100px;
}
.icon-image {
  height: 20px;
  width: 20px;
}
.card-para {
  margin: 0px;
}
