.bg-container-loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  height: 320px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px 10px lightgray;
  padding: 20px;
}
.show-password-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.login-logo-image {
  height: 40px;
  width: 120px;
  align-self: center;
}
.label {
  font-size: 10px;
  font-weight: bold;
  margin-top: 20px;
}
.login-button {
  margin-top: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.input-element {
  padding: 5px;
  border: 1px solid lightgray;
  margin-top: 3px;
  outline: none;
}
.show-pass-label {
  margin: 0px;
  font-size: 12px;
  font-weight: 500;
}
